/* Remove o espaço extra no topo da página */
div[data-testid="stAppViewContainer"] {
    margin-top: -4rem;
}

/* Estilo para os cards de métricas */
div[data-testid="stMetric"] {
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Centraliza o conteúdo dos cards de dias da semana */
div[data-testid="stMetric"] > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajusta o tamanho da label e do valor nos cards */
div[data-testid="stMetric"] label {
    font-size: 1rem !important; /* !important para garantir que sobrescreva o padrão */
    font-weight: 600;
    color: #505050;
    text-align: center;
}

div[data-testid="stMetric"] div[data-testid="stMetricValue"] {
    font-size: 1.5rem !important;
    font-weight: 700;
}
